<html lang="zh-cn">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <link rel="shortcut icon" href="#"/>
      <link rel="stylesheet" type="text/css" href="{{_res_path}}/wiki/weapon-mc-wiki.css"/>
      <link rel="preload" href="{{_res_path}}common/font/HYWH-65W.woff" as="font" type="font/woff">
      <link rel="preload" href="{{_res_path}}common/font/NZBZ.woff" as="font" type="font/woff">
      <link rel="preload" href="{{_res_path}}common/font/tttgbnumber.woff" as="font" type="font/woff">
      <title>liangshi-calc</title>
      {{block 'css'}}
      {{/block}}
    </head>

  <body>
    <div class="title">
      <div class="title-title"><img src="{{imgs.type}}" class="weapon-key">{{data.name}}<span>{{data.affixTitle}}</span></div>
    </div>
    <div class="container">
      <div class="weapon-container">
        <img src="{{imgs.character}}" alt="" class="bg-overlay">
        <img src="{{imgs.icon}}" alt="暂无武器图片" class="weapon-image">
        <div class="stars-container">
          {{if data.star > 0}}<img src="{{_res_path}}/wiki/imgs/star.png" class="star-icon">{{/if}}
          {{if data.star > 1}}<img src="{{_res_path}}/wiki/imgs/star.png" class="star-icon">{{/if}}
          {{if data.star > 2}}<img src="{{_res_path}}/wiki/imgs/star.png" class="star-icon">{{/if}}
          {{if data.star > 3}}<img src="{{_res_path}}/wiki/imgs/star.png" class="star-icon">{{/if}}
          {{if data.star > 4}}<img src="{{_res_path}}/wiki/imgs/star.png" class="star-icon">{{/if}}
        </div>
      </div>
      <div class="log-direct">
        <div class="cont">
          <div class="cont-title">
            <span>
              基础攻击：<span style="color: #fff; font-size: 18px;">{{@attr.attrText.atk}}</span>
            </span>
            <span>
              {{attr.bonusKey}}：<span style="color: #fff; font-size: 18px;">{{@attr.attrText.bonus}}</span>
            </span>
          </div>
          <div class="cont-body">
            {{@skill.desc}}
          </div>
          <div class="cont-bottom">
            来源：<span style="color: #fff; font-size: 14px;">{{data.source}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="material-list">
      {{each materials ds}}
        <div class="item-card star{{ds.star}}">
          <div class="item-num">{{ds.num}}</div>
          <div class="item-icon">
            <div class="item-bg">
              <img src="{{ds.icon}}" class="item-image">
            </div>
          </div>
          <div class="item-title">{{ds.label}}</div>
        </div>
      {{/each}}
    </div>
    <div class="story">
      <div class="story-body">
        {{data.desc}}
      </div>
    </div>
    <div class="black">
      <div class="copyright">{{@sys.copyright}}</div>
    </div>
  </body>
</html>