config/*
!config/system
damage/liangshi-gs/艾梅莉埃/TeamData.json
damage/liangshi-gs/赛诺/TeamData.json
damage/liangshi-gs/砂糖/TeamData.json
damage/liangshi-gs/夜兰/TeamData.json
damage/liangshi-gs/伊涅芙/TeamData.json